*{
	font-family: "Arial", monospace;
}
div + p{
	color: yellow;
}
p{
	color: darkblue;
}
#p2 + img{
	height: 300px;
	width: 300px;
	border-radius: 150px
}

.all{
	letter-spacing: 5px;
	list-style-type: none;
}

#uppercase{
	text-transform: uppercase;
}

ol div {
	background-color: lightgreen;
}
.border{
	border-style: solid;
}
#center{
	text-align: center;
}